<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" runat="server" href="~/">Security Framework</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Access Home", "Index", "AccessHome")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Areas & Objects&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Domains", "Index", "Domains")</li>
                        <li>@Html.ActionLink("Organizations", "Index", "Organizations")</li>
                        <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                        <li>@Html.ActionLink("Offices", "Index", "Offices")</li>
                        <li>@Html.ActionLink("Shops", "Index", "Shops")</li>
                        <li>@Html.ActionLink("Routes", "Index", "Routes")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Roles&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Domain-Roles", "Index", "DomainRoles")</li>
                        <li>@Html.ActionLink("Organization-Roles", "Index", "OrganizationRoles")</li>
                        <li>@Html.ActionLink("Group-Roles", "Index", "GroupRoles")</li>
                        <li>@Html.ActionLink("Office-Roles", "Index", "OfficeRoles")</li>
                        <li>@Html.ActionLink("Shop-Roles", "Index", "ShopRoles")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Users, Routes in Roles&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Users in Roles", "Index", "RoleUsers")</li>
                        <li>@Html.ActionLink("Routes in Roles", "Index", "RoleRoutes")</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>
@RenderSection("scripts", false)
</body>
</html>