@{
    ViewBag.Title = "Access Home";
}

<h2>Access Home</h2>

<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Domains", "Index", "Domains")</li>
    <li class="list-group-item">@Html.ActionLink("Organizations", "Index", "Organizations")</li>
    <li class="list-group-item">@Html.ActionLink("Groups", "Index", "Groups")</li>
    <li class="list-group-item">@Html.ActionLink("Offices", "Index", "Offices")</li>
    <li class="list-group-item">@Html.ActionLink("Shops", "Index", "Shops")</li>
    <li class="list-group-item">@Html.ActionLink("Domain-Roles", "Index", "DomainRoles")</li>
    <li class="list-group-item">@Html.ActionLink("Organization-Roles", "Index", "OrganizationRoles")</li>
    <li class="list-group-item">@Html.ActionLink("Group-Roles", "Index", "GroupRoles")</li>
    <li class="list-group-item">@Html.ActionLink("Office-Roles", "Index", "OfficeRoles")</li>
    <li class="list-group-item">@Html.ActionLink("Shop-Roles", "Index", "ShopRoles")</li>
    <li class="list-group-item">@Html.ActionLink("Routes", "Index", "Routes")</li>
    <li class="list-group-item">@Html.ActionLink("Users in Roles", "Index", "RoleUsers")</li>
    <li class="list-group-item">@Html.ActionLink("Routes in Roles", "Index", "RoleRoutes")</li>
</ul>