@model SecurityFramework.Areas.Access.Models.View.ListViewModel

@{
    ViewBag.Title = "Office Details";
}

<h2>Office Details</h2>

<div>
    <h4>Office</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Breadcrumb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breadcrumb)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>