@model SecurityFramework.Areas.Access.Models.View.ListViewModel

@{
    ViewBag.Title = "Organization-Role Details";
}

<h2>Organization-Role Details</h2>

<div>
    <h4>Organization-Role</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Breadcrumb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breadcrumb)
        </dd>

        <dt>
            Role
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sequence)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>