@model SecurityFramework.Areas.Access.Models.Entity.vwAreaAndRoleAndUser

@{
    ViewBag.Title = "Role & User Details";
}

<h2>Role & User Details</h2>

<div>
    <h4>Role & User</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Bread Crumb
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BreadCrumb)
        </dd>
        <dt>
            Area & Role
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaAndRole)
        </dd>
        <dt>
            User
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>