@model SecurityFramework.Areas.Access.Models.Entity.Role

@{
    ViewBag.Title = "Domain-Role Details";
}

<h2>Domain-Role Details</h2>

<div>
    <h4>Domain-Roles</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domain.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domain.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>