@model IEnumerable<SecurityFramework.Areas.Access.Models.View.ListViewModel>

@{
    ViewBag.Title = "Domain-Roles";
}

<h2>Domain-Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-condensed-max">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Breadcrumb)
        </th>
        <th>
            Role
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sequence)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Breadcrumb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>