@model IEnumerable<SecurityFramework.Areas.Access.Models.Entity.Route>

@{
    ViewBag.Title = "Routes";
}

<h2>Routes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoutePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppPath)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoutePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppPath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>