@model SecurityFramework.Areas.Access.Models.Entity.vwAreaAndRoleAndRoute

@{
    ViewBag.Title = "Delete Role & Route";
}

<h2>Delete Role & Route</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Role & Route</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Bread Crumb
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreadCrumb)
        </dd>

        <dt>
            Area & Role
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaAndRole)
        </dd>

        <dt>
            Route
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoutePath)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>